In [1]:
import pandas as pd

### common id

In [11]:
df1 = pd.DataFrame({'id': ['A', 'B', 'C', 'D'],
                    'math': [1, 2, 3, 5]})
df2 = pd.DataFrame({'id': ['A', 'B', 'C', 'D'],
                    'english': [5, 6, 7, 8]})

same_id_merged=df1.merge(df2, on='id')
same_id_merged

  id  math  english
0  A     1        5
1  B     2        6
2  C     3        7
3  D     5        8

### different id

In [12]:
df1 = pd.DataFrame({'id1': ['A', 'B', 'C', 'D'],
                    'math': [1, 2, 3, 5]})
df2 = pd.DataFrame({'id2': ['A', 'B', 'C', 'D'],
                    'english': [5, 6, 7, 8]})


diff_id_merged=df1.merge(df2, left_on='id1', right_on='id2')
diff_id_merged

  id1  math id2  english
0   A     1   A        5
1   B     2   B        6
2   C     3   C        7
3   D     5   D        8