## Introduction to sqlite3
### Part II. Usage of sqlite3
Defining functions makes it easy to use sqlite3. Examples include the followings
- insert a row
- load a data conditionally
- update info
- remove a row
------------------------------

In [1]:
import sqlite3
from employee import Employee

### define functions that are useful for sql
#### "with conn:" context manager - makes commit statement unnecessary after execution

In [12]:
def insert_emp(emp):
    with conn: 
        c.execute(f"""INSERT INTO employees VALUES ('{emp.first}', '{emp.last}', '{emp.pay}') """ )

def get_emps_by_firstname(firstname):
    c.execute(f"""SELECT * FROM employees WHERE first = '{firstname}' """)
    return c.fetchall()

def get_emps_by_lastname(lastname):
    c.execute(f"""SELECT * FROM employees WHERE last = '{lastname}' """)
    return c.fetchall()

def update_pay(emp, pay):
    with conn:
        c.execute(f"""UPDATE employees SET pay = {pay} WHERE first= '{emp.first}' and last= '{emp.last}' """)
        
def remove_emp(emp):
    with conn:
        c.execute(f"""DELETE from employees WHERE first= '{emp.first}' and last= '{emp.last}' """)

### connect to a db in memory, which is useful when testing.

In [3]:
conn= sqlite3.connect(':memory:')
c= conn.cursor()

In [4]:
# create a table, if not exists
c.execute("""CREATE TABLE IF NOT EXISTS employees (
            first text,
            last text,
            pay integer
        )""")

### add three lines to the table, employees

In [5]:
emp1= Employee('John','Doe',80000)
emp2= Employee('Jane','Joe',90000)
emp3= Employee('Sam','Lee',120000)
insert_emp(emp1)
insert_emp(emp2)
insert_emp(emp3)

In [8]:
c.execute("""SELECT * FROM employees""")
c.fetchall()

[('John', 'Doe', 80000), ('Jane', 'Joe', 90000), ('Sam', 'Lee', 120000)]

### check get_emps_by_firstname()

In [13]:
get_emps_by_firstname('Sam')

[('Sam', 'Lee', 120000)]

### check get_emps_by_lastname()

In [14]:
get_emps_by_lastname('Doe')

[('John', 'Doe', 80000)]

### check update_pay()

In [15]:
update_pay(emp1, 100)

In [16]:
get_emps_by_lastname('Doe')

[('John', 'Doe', 100)]

### check remove_emp()

In [19]:
c.execute("""SELECT * FROM employees""")
c.fetchall()

[('John', 'Doe', 100), ('Sam', 'Lee', 120000)]

In [17]:
remove_emp(emp2)

In [18]:
c.execute("""SELECT * FROM employees""")
c.fetchall()

[('John', 'Doe', 100), ('Sam', 'Lee', 120000)]

### close connection

In [20]:
conn.close()