## Introduction to sqlite3
### Part I. Basic usage
------------------------------

In [12]:
import sqlite3

### connection + cursor

In [13]:
# connect to a database in memory. It is useful when testing.
# conn= sqlite3.connect(':memory:') # db name can be used. e.g., employee.db
conn= sqlite3.connect('employee.db')

# create a cursor
c= conn.cursor()

### how to drop a table

In [14]:
# drop a table
c.execute("""DROP TABLE IF EXISTS employees""")

### how to create a table

In [15]:
# create a table
c.execute("""CREATE TABLE IF NOT EXISTS employees (
            first text,
            last text,
            pay integer
        )""")

### how to add a new line

In [16]:
# input manually
c.execute("""INSERT INTO employees VALUES ('Corey', 'Schafer', 50000)""")
c.execute("""INSERT INTO employees VALUES ('Mary', 'Joe', 50000)""")

# commit changes, which is necessary
conn.commit()

### how to display data from table: fetchone(); fetchall(); fetchmany()

In [17]:
c.execute("""SELECT * FROM employees WHERE last = 'Schafer' """)
c.fetchone()

('Corey', 'Schafer', 50000)

In [18]:
c.execute("""SELECT * FROM employees WHERE last = 'Schafer' """)
c.fetchall()

[('Corey', 'Schafer', 50000)]

In [19]:
c.execute("""SELECT * FROM employees WHERE last = 'Schafer' """)
c.fetchmany(5)

[('Corey', 'Schafer', 50000)]

In [20]:
c.execute("""SELECT * FROM employees""")
c.fetchall()

[('Corey', 'Schafer', 50000), ('Mary', 'Joe', 50000)]

### close connection

In [21]:
# close connection
conn.close()

### connect the db again; fetch the data again to check.

In [22]:
conn= sqlite3.connect('employee.db')
c= conn.cursor()
c.execute("""SELECT * FROM employees WHERE last = 'Schafer' """)
c.fetchall()

[('Corey', 'Schafer', 50000)]

In [23]:
conn.close()